body {
    max-width: 100vw;
    margin: auto;
    overflow-x: hidden;
}

#max {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
#m {
    transform: matrix(1,0,0,1,140,348);
}
#a {
    transform: matrix(1,0,0,1,205,348);
}
#x {
    transform: matrix(1,0,0,1,262,348);
}
#period {
    transform: matrix(1,0,0,1,301,348);
}

.layer {
    animation: 4.7s linear infinite;
}

.layer1 {
    animation-name: layer1;
}
.layer2 {
    animation-name: layer2;
}
.layer3 {
    animation-name: layer3;
}
.layer4 {
    animation-name: layer4;
}

@keyframes layer1 {
    0%, 12% {
        fill: #b2b2b2;
    }
    20%, 92% {
        fill: #4b4b4b;
    }
    100% {
        fill: #b2b2b2;
    }
}
@keyframes layer2 {
    0%, 32% {
        fill: #b2b2b2;
    }
    40%, 90% {
        fill: #4b4b4b;
    }
    96%, 100% {
        fill: #b2b2b2;
    }
}
@keyframes layer3 {
    0%, 52% {
        fill: #b2b2b2;
    }
    60%, 88% {
        fill: #4b4b4b;
    }
    94%, 100% {
        fill: #b2b2b2;
    }
}
@keyframes layer4 {
    0%, 72% {
        fill: #b2b2b2;
    }
    80%, 86% {
        fill: #4b4b4b;
    }
    92%, 100% {
        fill: #b2b2b2;
    }

}


/*   navbar   */
#navbar #navItems {
    line-height: 0;
    margin: 0 auto 0 3em;
}

#navList {
    position: relative;
    display: flex;
    display: -webkit-flex;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item {
    display: block;
    margin: 1em 0;
}

.menu-link {
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

.menu-link:hover,
.menu-link:focus {
    outline: none;
}


#navbar #navItems .menu-link {
    position: relative;
    display: block;
    margin: 0 1.5em;
    padding: 0.75em 0;
    text-align: center;
    color: #b5b5b5;
    transition: color 0.3s;
}

#navbar #navItems .menu-link:hover,
#navbar #navItems .menu-link:focus {
    color: #929292;
}

#navbar #navItems .menu-item-current .menu-link {
    color: #d94f5c;
}

#navbar #navItems .menu-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #d94f5c;
    transform: scale3d( 0, 1, 1 );
    transition: transform 0.1s;
}

#navbar #navItems .menu-item-current .menu-link::before {
    transform: scale3d( 1, 1, 1 );
    transition-timing-function: cubic-bezier( 0.4, 0, 0.2, 1 );
    transition-duration: 0.3s;
}

/*-- navbar --*/

#description {
    margin-top: 10em;
}

#android-title:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 20px;
    border-top: 1px solid white;
}

#android-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-top: 20px;
    border-bottom: 1px solid white;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.quote {
    margin: 80px 0 0 20px;
    font-size: 20px;
}

.max {
    font-size: 37em;
}

.elegant {
    background-color: #2E2E2E;
}

.text-elegant {
    color: #2E2E2E;
}

.section-title {
    font-size: 60px;
    letter-spacing: 15px;
    font-family: "Segoe UI", Arial, sans-serif !important;
    color: white;
    margin-bottom: 70px;
}

.card {
    height: 650px !important;
}

.project-title-li {
    height: 33.33333333%;
    line-height: 33.33333333%;
    text-align: center;
}

.project-title {
    margin: 0;
    padding: 16px 0 16px 0;
    font-size: 40px;
    letter-spacing: 7px;
    font-family: "Segoe UI", Arial, sans-serif !important;
    color: white;
}

.project-title:hover {
    color: #2E2E2E;
}

.divider {
    margin: 100px 0;
}

.md-form {
    margin-right: 40px !important;
}

.footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 34px;
}

.soc-icon {
    margin: 0 10px;
}

/* scrollbar */