#maxJumbotron {
    width: 100vw;

    animation: slide 2s 4s linear;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -100%;
    }
}

#description {
    margin-top: 10em;
}

#android-title:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 20px;
    border-top: 1px solid white;
}

#android-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-top: 20px;
    border-bottom: 1px solid white;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.quote {
    margin: 80px 0 0 20px;
    font-size: 20px;
}

.max {
    font-size: 37em;
}

.elegant {
    background-color: #2E2E2E;
}

.text-elegant {
    color: #2E2E2E;
}

.section-title {
    font-size: 60px;
    letter-spacing: 15px;
    font-family: "Segoe UI", Arial, sans-serif !important;
    color: white;
    margin-bottom: 70px;
}

.card {
    height: 650px !important;
}

.project-title-li {
    height: 33.33333333%;
    line-height: 33.33333333%;
    text-align: center;
}

.project-title {
    margin: 0;
    padding: 16px 0 16px 0;
    font-size: 40px;
    letter-spacing: 7px;
    font-family: "Segoe UI", Arial, sans-serif !important;
    color: white;
}

.project-title:hover {
    color: #2E2E2E;
}

.divider {
    margin: 100px 0;
}

.md-form {
    margin-right: 40px !important;
}

.footer {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 34px;
}

.soc-icon {
    margin: 0 10px;
}

/* scrollbar */